[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "blackburn"]
	path = blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/hello-4s3ti"]
	path = themes/hello-4s3ti
	url = https://github.com/4s3ti/hugo-theme-hello-4s3ti.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
